{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
<main class="bookalesson-page">
    <h1 class="page-title">Book a Lesson</h1>

    <h2 class="calendar-header">Calendar for {{ month|stringformat:"02d" }}-{{ year }}</h2>

    <div class="calendar-navigation">
        <!-- Navigation links -->
        {% if month > 1 %}
        <a href="{% url 'book_a_lesson' %}?year={{ year }}&month={{ month|add:" -1" }}" class="nav-link">Previous
            Month</a>
        {% else %}
        <a href="{% url 'book_a_lesson' %}?year={{ year|add:" -1" }}&month=12" class="nav-link">Previous Month</a>
        {% endif %}

        {% if month < 12 %} <a href="{% url 'book_a_lesson' %}?year={{ year }}&month={{ month|add:" 1" }}"
            class="nav-link">Next Month</a>
            {% else %}
            <a href="{% url 'book_a_lesson' %}?year={{ year|add:" 1" }}&month=1" class="nav-link">Next Month</a>
            {% endif %}
    </div>
    <div class="calendar-container">
        
        <table class="calendar-table">
            <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody>
                {% for week in month_days %}
                <tr>
                    {% for day in week %}
                    <td>
                        {% if day %}
                        {% with day_formatted=day|stringformat:"02d" %}
                        {% with month_formatted=month|stringformat:"02d" %}
                        {% with year_formatted=year|stringformat:"04d" %}
                        {% with day_date_str=day_formatted|add:"-"|add:month_formatted|add:"-"|add:year_formatted %}
                        {% if dates_status|get_item:day_date_str %}
                        <span class="past-date">{{ day }}</span>
                        {% else %}
                        <a href="{% url 'timeslots_for_date' date=day_date_str %}" class="active-date">{{ day }}</a>
                        {% endif %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}