/* General Styles */

/* Fixed Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
}
/* Navigation Styles */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #445261;
    /* Primary color for brand */
}

.nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    color: white;
}

.nav-link:hover,
.nav-link.active {
    text-decoration: underline;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f8f9fa;
}

/* Main Background */
.main-bg {
    background-color: #ffffff;
}

/* Hero Section Styles */
.hero-section {
    position: relative;
    background: url('/static/images/horseandfoal.jpg') no-repeat center/cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    padding: 0 20px;
}

/* Hero Section Overlay */
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Styles for the lessons.html page */
.lessons-page {
    background-image: url('/static/images/hollyjumping.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    min-height: 100vh;
    padding-top: 20px;
    position: relative;
}

.lessons-page .card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5%;
    border: 2px solid #445261;
}

.lessons-page .card-title,
.lessons-page .card-text {
    color: #333;
}

.mt-5 {
    margin-top: 4rem !important;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.lessons-page .card-title:hover {
    background-color: #445261;
    color: #ffffff;
}

/* Container Styles */
.container {
    position: relative;
    z-index: 2;
}

/* Footer Styles */
.footer {
    background-color: #7ca9da;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

.footer i {
    color: #ffffff;
    font-size: 1.25rem;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
}

.footer i:hover {
    color: #007bff;
}

/* Alerts */
Alerts .alert {
    margin-top: 1rem;
    padding-top: 1rem;
    border-radius: 0.25rem;
    width: auto;
    max-width: 90vw;
    height: auto;
    color: white;
    background-color: #445261;
    border-color: #445261;
}
/*
.alert-success {
    color: #131715;
    background-color: #718a7f;
    border-color: #829b90;
}*/
.alert-success {
    background-color: #445261;
    border-color: #c3e6cb;
    color: white;
    margin-top: 80px;
    padding-top: 1rem;
    border-radius: 0.25rem;
    width: auto;
    max-width: 90vw;
    height: auto;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

/* Custom Button Styles */
.btn-primary {
    background-color: #445261;
    border-color: #20423d;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #252c09;

    border-color: #445261;

}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.25rem;
    }
    .hero-section {
        padding: 0 10px;
    }
}

/* Features Section */
.features {
    background-color: #f8f9fa;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.feature-card {
    background-color: #ffffff;
    border-radius: 0.75rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
}

/* Hover Effect for Feature Cards */
.feature-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Deeper shadow on hover */
}

/* add css from code institute to be changed as styling progresses */
body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #445261;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #445261;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #118fe4;
    color: #445261;
}

.link {
    color: #8b8adf;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.about-image {
    height: 33.33vh;
    object-fit: cover;
    object-position: center;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    max-width: 100%;
    overflow: auto;
    box-sizing: border-box;
}

/* Book a lesson page */
/* Title */
.page-title {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

/* Header */
.calendar-header {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

/* Navigation */
.calendar-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.calendar-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: #445261;
    color: white !important;
}

/* Calenda */
.calendar-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

.calendar-table {
    width: 100%;
    min-width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    table-layout: auto;
}

.calendar-table th,
.calendar-table td {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #e0e0e0;
    padding: 7px;
    text-align: center;
}

@media screen and (max-width: 360px) {
    .calendar-table {
        font-size: 0.9em;
    }
}

.calendar-table th {
    background-color: rgba(68, 82, 97, 0.7);
    color: #ffffff;
}

.calendar-table td {
    background-color: rgba(249, 249, 249, 0.9);
    color: #445261;
}

.calendar-table td a {
    color: #445261;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.calendar-table td a.active-date:hover {
    background-color: #445261;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

.calendar-table td .past-date {
    color: #cccccc;
}

/* Book A Lesson Page */
.bookalesson-page {
    background-image: url('/static/images/hollyjumping.jpg');
    background-size: cover;
    background-position: top;
    opacity: 0.9;
    min-height: 100vh;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

/* Instructors Page */
.about-section {
    background-image: url('/static/images/horseandfoal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    color: #ffffff;
}

.content-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    color: #445261;
    border: 2px solid #445261;
    margin: 0 15px;
    max-width: 100%;
}

.about-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #445261;
}

.about-section p {
    font-size: 1.2rem;
}

.about-section .text-end {
    margin-top: 20px;
}

/* Timeslot Page Specific Styles */

/* Background Image for the Timeslot Section */
.timeslot-section {
    background-image: url('/static/images/khal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
    color: #ffffff;
}

.timeslot-head {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Timeslot Table Styling */
.timeslot-table {
    width: 100%;
    max-width: 90%;
    margin: 0 auto 20px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    color: black;
    border: 2px solid #445261;
    box-sizing: border-box;
}

.timeslot-table thead th {
    background-color: #445261;
    color: #ffffff;
    padding: 10px;
    text-align: left;
    text-align: center;
}

.timeslot-table tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
}

.timeslot-table a {
    color: #445261;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s, color 0.3s ease, border-radius 0.3s ease, padding 0.3s ease;
}

.timeslot-table a:hover {
    background-color: #37424f;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

/* Unavailable Slot Styling */
.timeslot-table .inactive {
    color: #999;
    font-style: italic;
    font-weight: bold;
}

/* Booking form Page Styling */
.booking-form-section {
    background-image: url('/static/images/horseandfoal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
    color: #ffffff;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #445261;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3,
h4 {
    color: white;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #445261;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #445261;
    border-radius: 5px;
    background-color: #ffffff;
    color: #445261;
    font-size: 16px;
    box-sizing: border-box;
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
}

/* Button Styling */
.btn-primary {
    background-color: #445261;
    border-color: #445261;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Button Hover Effect */
.btn-primary:hover {
    background-color: #37424f;
    border-color: #37424f;
}

/* logout page */
.logout-section {
    background-image: url('/static/images/horseandfoal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 250px 0;
    color: #ffffff;
}

/* register page */
/* signup-section */
.signup-section {
    background-image: url('/static/images/horseandfoal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    color: #ffffff;
}

.signup label,
.signup li {
    color: #445621;
}

.bold-link {
    color: white;
    font-weight: bolder;
    background-color: #445261;
    border-radius: 8%;
    padding: 5px;
}

.bold-link:hover {
    background-color: white;
    color: #445261;
}

.signup-header {
    font-weight: bold;
}

.signup-text {
    text-align: center;
}

/* contact us page */
.contact-section {
    background-image: url('/static/images/horseandfoal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    color: #ffffff;
}

.contact-header {
    font-weight: bold;
}

.contact-text {
    text-align: center;
    font-weight: bold;
}

/* login page */
.login-section {
    background-image: url('/static/images/horseandfoal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    color: #ffffff;
}

.login-header {
    text-align: center;
    font-weight: bold;
}

.login-text {
    text-align: center;
    font-weight: bold;
}

.login label {
    color: #445261
}

.error-page-text {
    font-weight: bold;
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

/* user_bookings table */
.user-booking-page {
    background-image: url('/static/images/horseandfoal.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    min-height: 100vh;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.bookings-table table {
    width: 100%;
    border-collapse: collapse;
}

.bookings-table th {
    background-color: #445261;
    color: white;
    padding: 10px;
    text-align: center;
}

.bookings-table td {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    text-align: center;
    color: black;
}

.bookings-table th,
.bookings-table td {
    border: 1px solid #445261;
}

.bookings-table tr:hover td {
    background-color: #445261;
    color: white;
}

.user-bookings-header {
    text-align: center;
    margin: 20px 0;
    color: white;
    font-weight: bolder;
}

@media screen and (max-width: 440px) {
    .bookings-table td {
        padding: 0px;
    }

    .bookings-table {
        font-size: 0.2em;
        float: left;
    }
}